{
  "swagger": "2.0",
  "info": {
    "title": "カラーミーショップ API",
    "description": "# カラーミーショップ API\n\n[カラーミーショップ](https://shop-pro.jp) APIでは、受注の検索や商品情報の更新を行うことができます。\n\n## 利用手順\n\nはじめに、カラーミーデベロッパーアカウントを用意します。[デベロッパー登録ページ](https://api.shop-pro.jp/developers/sign_up)から登録してください。\n\n次に、[登録ページ](https://api.shop-pro.jp/oauth/applications/new)からアプリケーション登録を行ってください。\nスマートフォンのWebViewを利用する場合は、リダイレクトURLに`urn:ietf:wg:oauth:2.0:oob`を入力してください。\n\nその後、カラーミーショップアカウントの認証ページを開きます。認証ページのURLは、`https://api.shop-pro.jp/oauth/authorize`に必要なパラメータをつけたものです。\n\n|パラメータ名|値|\n|---|---|\n|`client_id`|アプリケーション詳細画面で確認できるクライアントID|\n|`response_type`|\"code\"という文字列|\n|`scope`| 別表参照|\n|`redirect_url`|アプリケーション登録時に入力したリダイレクトURL|\n\n`scope`は、以下のうち、アプリケーションが利用したい機能をスペース区切りで指定してください。\n\n|スコープ|機能|\n|---|---|\n|`read_products`|商品データの参照|\n|`write_products`|在庫データの更新|\n|`read_sales`|受注・顧客データの参照|\n|`write_sales`|受注データの更新|\n\n以下のようなURLとなります。\n\n```\nhttps://api.shop-pro.jp/oauth/authorize?client_id=CLIENT_ID&redirect_uri=REDIRECT_URL&response_type=code&scope=read_products%20write_products\n```\n\n初めてこのページを訪れる場合は、カラーミーショップアカウントのIDとパスワードの入力を求められます。\n承認ボタンを押すと、このアプリケーションがショップのデータにアクセスすることが許可され、リダイレクトURLへリダイレクトされます。\n\n承認された場合は、`code`というクエリパラメータに認可コードが付与されます。承認がキャンセルされた、またはエラーが起きた場合は、\n`error`パラメータにエラーの内容を表す文字列が与えられます。\n\nアプリケーション登録時のリダイレクトURLに`urn:ietf:wg:oauth:2.0:oob`を指定した場合は、以下のようなURLにリダイレクトされます。\n末尾のパスが認可コードになっています。\n\n```\nhttps://api.shop-pro.jp/oauth/authorize/AUTH_CODE\n```\n\n認可コードの有効期限は発行から10分間です。\n\n最後に、認可コードとアクセストークンを交換します。以下のパラメータを付けて、`https://api.shop-pro.jp/oauth/token`へリクエストを送ります。\n\n|パラメータ名|値|\n|---|---|\n|`client_id`|アプリケーション詳細画面に表示されているクライアントID|\n|`client_secret`|アプリケーション詳細画面に表示されているクライアントシークレット|\n|`code`|取得した認可コード|\n|`grant_type`|\"authorization_code\"という文字列|\n|`redirect_uri`|アプリケーション登録時に入力したリダイレクトURL|\n\n```console\n# curl での例\n\n$ curl -X POST \\\n  -d'client_id=CLIENT_ID' \\\n  -d'client_secret=CLIENT_SECRET' \\\n  -d'code=CODE' \\\n  -d'grant_type=authorization_code'   \\\n  -d'redirect_uri=REDIRECT_URI'  \\\n  'https://api.shop-pro.jp/oauth/token'\n```\n\nリクエストが成功すると、以下のようなJSONが返ってきます。\n\n```json\n{\n  \"access_token\": \"d461ab8XXXXXXXXXXXXXXXXXXXXXXXXX\",\n  \"token_type\": \"bearer\",\n  \"scope\": \"read_products write_products\"\n}\n```\n\nアクセストークンに有効期限はありませんが、許可済みアプリケーション一覧画面から失効させることができます。なお、同じ認可コードをアクセストークンに交換できるのは1度だけです。\n\n取得したアクセストークンは、Authorizationヘッダに入れて使用します。以下にショップ情報を取得する際の例を示します。\n\n```console\n# curlの例\n\n$ curl -H 'Authorization: Bearer d461ab8XXXXXXXXXXXXXXXXXXXXXXXXX' https://api.shop-pro.jp/v1/shop.json\n```\n\n## エラー\n\nカラーミーショップAPI v1では\n\n- エラーコード\n- エラーメッセージ\n- ステータスコード\n\nの配列でエラーを表現します。以下に例を示します。\n\n```json\n{\n  \"errors\": [\n    {\n      \"code\": 404100,\n      \"message\": \"レコードが見つかりませんでした。\",\n      \"status\": 404\n    }\n  ]\n}\n```\n",
    "termOfService": "https://api.shop-pro.jp/developers/tos",
    "contact": {
      "name": "お問い合せ窓口",
      "url": "https://shop-pro.jp/?mode=inq"
    },
    "version": "1.0.0",
    "x-logo": {
      "url": "https://static-www.shop-pro.jp/img/cms_components/cms_header/cms_header_brand.png"
    }
  },
  "host": "api.shop-pro.jp",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "OAuth2": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.shop-pro.jp/oauth/authorize",
      "tokenUrl": "https://api.shop-pro.jp/oauth/token",
      "scopes": {
        "read_products": "商品データを参照",
        "write_products": "在庫データを更新",
        "read_sales": "受注・顧客データを参照",
        "write_sales": "受注データを更新"
      }
    }
  },
  "security": [
    {
      "OAuth2": [
        "read_products",
        "write_products",
        "read_sales",
        "write_sales"
      ]
    }
  ],
  "tags": [
    {
      "name": "shop",
      "x-displayName": "ショップ"
    },
    {
      "name": "sale",
      "x-displayName": "受注"
    },
    {
      "name": "customer",
      "x-displayName": "顧客"
    },
    {
      "name": "product",
      "x-displayName": "商品"
    },
    {
      "name": "stock",
      "x-displayName": "在庫"
    },
    {
      "name": "group",
      "x-displayName": "商品グループ"
    },
    {
      "name": "category",
      "x-displayName": "商品カテゴリー"
    },
    {
      "name": "payment",
      "x-displayName": "決済"
    },
    {
      "name": "delivery",
      "x-displayName": "配送"
    },
    {
      "name": "gift",
      "x-displayName": "ギフト"
    },
    {
      "name": "etc",
      "x-displayName": "その他"
    },
    {
      "name": "script",
      "x-displayName": "スクリプトタグ"
    }
  ],
  "paths": {
    "/v1/shop.json": {
      "get": {
        "summary": "ショップ情報の取得",
        "description": "ショップ名などの基本的な情報を取得することができるAPIです。\n",
        "operationId": "getShop",
        "tags": [
          "shop"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "shop": {
                  "$ref": "#/definitions/Shop"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales.json": {
      "get": {
        "summary": "受注データのリストを取得",
        "description": "",
        "operationId": "getSales",
        "tags": [
          "sale"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "受注IDで検索。カンマ区切りで複数指定可能",
            "type": "string"
          },
          {
            "in": "query",
            "name": "after",
            "description": "指定日時以降の受注から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "before",
            "description": "指定日時以前の受注から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "make_date_min",
            "description": "`after`と同義",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "make_date_max",
            "description": "`before`と同義",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "update_date_min",
            "description": "指定日時以降に更新された受注から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "update_date_max",
            "description": "指定日時以降に更新された受注から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "customer_ids",
            "description": "購入した顧客IDで検索。カンマ区切りにすることで複数検索が可能",
            "type": "string"
          },
          {
            "in": "query",
            "name": "customer_name",
            "description": "購入した顧客名で部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "customer_furigana",
            "description": "購入した顧客フリガナがで部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "customer_mail",
            "description": "購入した顧客メールアドレスで部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "accepted_mail_state",
            "description": "受注メールの送信状態で検索\n\n- `0`: 未送信\n- `1`: 送信済み\n- `2`: 送信しない\n",
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ]
          },
          {
            "in": "query",
            "name": "paid_mail_state",
            "description": "入金メールの送信状態で検索\n\n- `0`: 未送信\n- `1`: 送信済み\n- `2`: 送信しない\n",
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ]
          },
          {
            "in": "query",
            "name": "delivered_mail_state",
            "description": "配送メールの送信状態で検索\n\n- `0`: 未送信\n- `1`: 送信済み\n- `2`: 送信しない\n",
            "type": "integer",
            "enum": [
              0,
              1,
              2
            ]
          },
          {
            "in": "query",
            "name": "mobile",
            "description": "`true`なら携帯からの受注のみ取得",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "paid",
            "description": "`true`なら入金済みの受注のみ取得",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "delivered",
            "description": "`true`なら配送済みの受注のみ取得",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "payment_ids",
            "description": "使用された決済のIDで検索。カンマ区切りで複数指定可能",
            "type": "string"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "レスポンスJSONのキーをカンマ区切りで指定",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "レスポンスの件数を指定。指定がない場合は10。最大50",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "offset",
            "description": "指定した数値+1件目以降のデータを返す",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "sales": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Sale"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/Meta"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/stat.json": {
      "get": {
        "summary": "売上集計の取得",
        "description": "",
        "operationId": "statSale",
        "tags": [
          "sale"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "make_date",
            "description": "集計対象とする売上の作成日。形式は\"2017-04-12\"、\"2017/04/12\"など。指定しない場合は今日の日付が使われる",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "sales_stat": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "description": "ショップアカウントID",
                      "type": "string",
                      "example": "PA01234567"
                    },
                    "date": {
                      "description": "集計対象とする売上の作成日",
                      "type": "integer",
                      "example": 1363151732
                    },
                    "amount_today": {
                      "description": "合計売上金額",
                      "type": "integer",
                      "example": 15000
                    },
                    "count_today": {
                      "description": "合計件数",
                      "type": "integer",
                      "example": 5
                    },
                    "amount_last_7days": {
                      "description": "`date`を含む過去7日間の合計売上金額",
                      "type": "integer",
                      "example": 100000
                    },
                    "count_last_7days": {
                      "description": "`date`を含む過去7日間の合計件数",
                      "type": "integer",
                      "example": 10
                    },
                    "amount_this_month": {
                      "description": "`date`が含まれる月の合計売上金額",
                      "type": "integer",
                      "example": 220000
                    },
                    "count_this_month": {
                      "description": "`date`が含まれる月の合計件数",
                      "type": "integer",
                      "example": 44
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/{saleId}.json": {
      "get": {
        "summary": "受注データの取得",
        "description": "",
        "operationId": "getSale",
        "tags": [
          "sale"
        ],
        "parameters": [
          {
            "name": "saleId",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "sale": {
                  "$ref": "#/definitions/Sale"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "受注データの更新",
        "description": "該当受注の決済がAmazon Pay、または楽天ペイ（オンライン決済）である場合は、熨斗・メッセージカード・ラッピングの手数料を更新すると、決済金額が自動的に購入者に請求もしくは返金されます。",
        "operationId": "updateSale",
        "tags": [
          "sale"
        ],
        "parameters": [
          {
            "name": "saleId",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "sale",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "sale": {
                  "type": "object",
                  "properties": {
                    "paid": {
                      "description": "入金済みであるか否か",
                      "type": "boolean"
                    },
                    "point_state": {
                      "description": "ショップポイントの付与状態。`fixed`へ変更すると、購入者にショップポイントが付与される。`fixed`から別のステータスには変更できない\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `cenceled`: キャンセル済み\n",
                      "type": "string",
                      "enum": [
                        "assumed",
                        "fixed",
                        "cenceled"
                      ]
                    },
                    "sale_deliveries": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/SaleDelivery"
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "sale": {
                  "$ref": "#/definitions/Sale"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/{saleId}/cancel.json": {
      "put": {
        "summary": "受注のキャンセル",
        "description": "受注をキャンセルすると、以下のことが起こります。\n\n- 該当受注の商品購入数が0になる\n- 該当受注の合計金額が0になる\n- 該当受注の`canceled`が`true`になる\n- 該当受注に使用されたショップポイント・GMOポイントがキャンセルされる\n- 該当受注の決済がAmazon Pay、または楽天ペイ（オンライン決済）である場合は、決済金額が自動的に購入者へ返金される\n- カラメル等の販売手数料が0になる\n",
        "operationId": "cancelSale",
        "tags": [
          "sale"
        ],
        "parameters": [
          {
            "name": "saleId",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "restock",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "restock": {
                  "description": "`true`の場合、在庫管理している商品について、購入された分の在庫数を充当する",
                  "type": "boolean"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "sale": {
                  "$ref": "#/definitions/Sale"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sales/{saleId}/mails.json": {
      "post": {
        "summary": "メールの送信",
        "description": "受注・入金確認・商品発送メールを送ることができます。",
        "operationId": "sendSalesMail",
        "tags": [
          "sale"
        ],
        "parameters": [
          {
            "name": "saleId",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "mail",
            "type": "object",
            "schema": {
              "type": "object",
              "properties": {
                "mail": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "description": "送信するメールの種類\n\n- `accepted`: 受注メールを送信する\n- `paid`: 入金確認メールを送信する\n- `delivered`: 商品発送メールを送信する\n",
                      "type": "string",
                      "enum": [
                        "accepted",
                        "paid",
                        "delivered"
                      ]
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "空のレスポンスを返す"
          }
        }
      }
    },
    "/v1/customers.json": {
      "get": {
        "summary": "顧客データのリストを取得",
        "description": "",
        "operationId": "getCustomers",
        "tags": [
          "customer"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "顧客IDで検索。カンマ区切りで複数指定可能",
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "顧客名で部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "furigana",
            "description": "顧客フリガナがで部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "mail",
            "description": "顧客メールアドレスで部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "postal",
            "description": "顧客の郵便番号で部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "tel",
            "description": "顧客の電話番号で部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "mobile",
            "description": "`true`なら会員登録済みの顧客から検索",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "make_date_min",
            "description": "指定日時以降に登録された顧客から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "make_date_max",
            "description": "指定日時以前に登録された顧客から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "update_date_min",
            "description": "指定日時以降に更新された顧客から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "update_date_max",
            "description": "指定日時以降に更新された顧客から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "customers": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Customer"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/Meta"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "顧客データを追加",
        "description": "",
        "operationId": "postCustomers",
        "tags": [
          "customer"
        ],
        "parameters": [
          {
            "name": "customer",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "description": "購入者氏名",
                  "type": "string"
                },
                "mail": {
                  "description": "メールアドレス",
                  "type": "string"
                },
                "pref_id": {
                  "description": "都道府県id",
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 48
                },
                "address1": {
                  "description": "住所",
                  "type": "string"
                },
                "address2": {
                  "description": "住所（建物名）",
                  "type": "string"
                },
                "tel": {
                  "description": "電話番号",
                  "type": "string"
                },
                "postal": {
                  "description": "郵便番号",
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "customer": {
                  "$ref": "#/definitions/Customer"
                }
              }
            }
          }
        }
      }
    },
    "/v1/customers/{customerId}.json": {
      "get": {
        "summary": "顧客データの取得",
        "description": "",
        "operationId": "getCustomer",
        "tags": [
          "customer"
        ],
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "customer": {
                  "$ref": "#/definitions/Customer"
                }
              },
              "meta": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "integer"
                  },
                  "limit": {
                    "type": "integer"
                  },
                  "offset": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/products.json": {
      "get": {
        "summary": "商品一覧の取得",
        "description": "",
        "operationId": "getProducts",
        "tags": [
          "product"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "商品IDで検索。カンマ区切りにすることで複数検索が可能",
            "type": "string"
          },
          {
            "in": "query",
            "name": "category_id_big",
            "description": "大カテゴリーIDで検索",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "category_id_small",
            "description": "小カテゴリーIDで検索",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "model_number",
            "description": "型番で部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "商品名で部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "display_state",
            "description": "掲載設定で検索",
            "type": "string",
            "enum": [
              "showing",
              "hidden",
              "showing_for_members",
              "sale_for_members"
            ]
          },
          {
            "in": "query",
            "name": "stocks",
            "description": "在庫管理している商品のうち、在庫数が指定した数値以下の商品を検索。オプションごとに在庫管理している商品は、合計在庫数で検索される",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "stock_managed",
            "description": "在庫管理している、またはしていない商品から検索",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "recent_zero_stocks",
            "description": "`true` の場合、過去1週間以内に更新された商品から検索",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "make_date_min",
            "description": "指定日時以降に作成された商品から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "make_date_max",
            "description": "指定日時以前に作成された商品から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "update_date_min",
            "description": "指定日時以降に更新された商品から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "update_date_max",
            "description": "指定日時以降に更新された商品から検索",
            "type": "string",
            "format": "YYYY-MM-DD | YYYY-MM-DD hh:mm:ss"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "レスポンスJSONのキーをカンマ区切りで指定",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "レスポンスの件数を指定。指定がない場合は10。最大50",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "offset",
            "description": "指定した数値+1件目以降のデータを返す",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "products": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Product"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/Meta"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{productId}.json": {
      "get": {
        "summary": "商品データの取得",
        "description": "",
        "operationId": "getProduct",
        "tags": [
          "product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "商品ID",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "product": {
                  "$ref": "#/definitions/Product"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "商品データの更新",
        "description": "",
        "operationId": "updateProduct",
        "tags": [
          "product"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "productId",
            "description": "商品ID",
            "type": "integer"
          },
          {
            "in": "body",
            "name": "product",
            "description": "商品データ",
            "schema": {
              "$ref": "#/definitions/ProductUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "product": {
                  "$ref": "#/definitions/Product"
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{productId}/pickups.json": {
      "post": {
        "summary": "おすすめ商品情報の追加",
        "description": "おすすめ商品情報(おすすめ商品、売れ筋商品、新着商品、イチオシ商品のいずれか)を商品に追加します。",
        "operationId": "postProductPickup",
        "tags": [
          "product"
        ],
        "parameters": [
          {
            "name": "productId",
            "description": "商品ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "pickup_type": {
                  "description": "おすすめ商品情報種別（0:おすすめ商品, 1:売れ筋商品, 3:新着商品, 4:イチオシ商品）",
                  "type": "integer",
                  "enum": [
                    0,
                    1,
                    3,
                    4
                  ]
                },
                "order_num": {
                  "description": "商品の表示順",
                  "type": "integer",
                  "minimum": 0
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "登録したおすすめ商品情報を返します",
            "schema": {
              "type": "object",
              "properties": {
                "pickup": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ProductPickup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/products/{productId}/pickups/{pickupType}.json": {
      "delete": {
        "summary": "おすすめ商品情報の削除",
        "description": "商品に付加されたおすすめ商品情報を削除します",
        "operationId": "deleteProductPickup",
        "tags": [
          "product"
        ],
        "parameters": [
          {
            "name": "productId",
            "description": "商品ID",
            "in": "path",
            "required": true,
            "type": "integer"
          },
          {
            "name": "pickupType",
            "description": "おすすめ商品情報種別（0:おすすめ商品, 1:売れ筋商品, 3:新着商品, 4:イチオシ商品）",
            "in": "path",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "削除したおすすめ商品情報を返します",
            "schema": {
              "type": "object",
              "properties": {
                "pickup": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ProductPickup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/stocks.json": {
      "get": {
        "summary": "在庫情報の取得",
        "description": "在庫情報を商品名や型番で検索できるAPIです。\n",
        "operationId": "getStocks",
        "tags": [
          "stock"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "ids",
            "description": "商品IDで検索。カンマ区切りにすることで複数検索が可能",
            "type": "string"
          },
          {
            "in": "query",
            "name": "category_id_big",
            "description": "大カテゴリーIDで検索",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "category_id_small",
            "description": "小カテゴリーIDで検索",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "model_number",
            "description": "型番で部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "name",
            "description": "商品名で部分一致検索",
            "type": "string"
          },
          {
            "in": "query",
            "name": "display_state",
            "description": "掲載設定で検索",
            "type": "string",
            "enum": [
              "showing",
              "hidden",
              "showing_for_members",
              "sale_for_members"
            ]
          },
          {
            "in": "query",
            "name": "stocks",
            "description": "在庫管理している商品のうち、在庫数が指定した数値以下の商品を検索。オプションごとに在庫管理している商品は、合計在庫数で検索される",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "recent_zero_stocks",
            "description": "`true` の場合、過去1週間以内に更新された商品から検索",
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "fields",
            "description": "レスポンスJSONのキーをカンマ区切りで指定",
            "type": "string"
          },
          {
            "in": "query",
            "name": "limit",
            "description": "レスポンスの件数を指定。指定がない場合は10。最大50",
            "type": "integer"
          },
          {
            "in": "query",
            "name": "offset",
            "description": "指定した数値+1件目以降のデータを返す",
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "stocks": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Stock"
                  }
                },
                "meta": {
                  "$ref": "#/definitions/Meta"
                }
              }
            }
          }
        }
      }
    },
    "/v1/groups.json": {
      "get": {
        "summary": "商品グループ一覧を取得",
        "description": "",
        "operationId": "getProductGroups",
        "tags": [
          "group"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "groups": {
                  "description": "グループ情報一覧",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ProductGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/categories.json": {
      "get": {
        "summary": "商品カテゴリー一覧を取得",
        "description": "",
        "operationId": "getProductCategories",
        "tags": [
          "category"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "categories": {
                  "description": "商品カテゴリー情報一覧",
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ProductCategory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/payments.json": {
      "get": {
        "summary": "決済設定の一覧を取得",
        "description": "",
        "operationId": "getPayments",
        "tags": [
          "payment"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "payments": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Payment"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/deliveries.json": {
      "get": {
        "summary": "配送方法一覧を取得",
        "description": "",
        "operationId": "getDeliveries",
        "tags": [
          "delivery"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "deliveries": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Delivery"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/deliveries/date.json": {
      "get": {
        "summary": "配送日時設定を取得",
        "description": "",
        "operationId": "getDeliveryDateSetting",
        "tags": [
          "delivery"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "delivery_date": {
                  "$ref": "#/definitions/DeliveryDateSetting"
                }
              }
            }
          }
        }
      }
    },
    "/v1/gift.json": {
      "get": {
        "summary": "ギフト設定を取得",
        "description": "",
        "operationId": "getGift",
        "tags": [
          "gift"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "gift": {
                  "type": "object",
                  "properties": {
                    "account_id": {
                      "type": "string",
                      "example": "PA01234567"
                    },
                    "enabled": {
                      "type": "boolean"
                    },
                    "noshi": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "text_enabled": {
                          "type": "boolean"
                        },
                        "text_charge": {
                          "type": "integer",
                          "x-nullable": true
                        },
                        "types": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "御結婚御祝"
                              },
                              "charge": {
                                "type": "integer",
                                "example": 200
                              }
                            }
                          }
                        },
                        "comment": {
                          "type": "string",
                          "example": "熨斗のお名前の印字をご希望の場合、以下の「備考欄」にてご指示ください。ご指示がない場合は、お名前の印字無しにてお届けいたします。"
                        }
                      }
                    },
                    "card": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "types": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "メッセージカード"
                              },
                              "charge": {
                                "type": "integer",
                                "example": 120
                              }
                            }
                          }
                        },
                        "comment": {
                          "type": "string",
                          "example": "「ハートマーク」など、携帯の機種依存文字や絵文字は文字化けしてしまう可能性がございます。予めご了承いただけますようお願い申し上げます。"
                        }
                      }
                    },
                    "wrapping": {
                      "type": "object",
                      "properties": {
                        "enabled": {
                          "type": "boolean"
                        },
                        "types": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string",
                                "example": "ギフトラッピング"
                              },
                              "charge": {
                                "type": "integer",
                                "example": 300
                              }
                            }
                          }
                        },
                        "comment": {
                          "type": "string",
                          "example": "ギフトに対応していない商品を合わせてご注文の場合、以下の備考欄に、ラッピング対応商品のご指示をお願いいたします。"
                        }
                      }
                    },
                    "make_date": {
                      "type": "integer",
                      "example": 1494496895
                    },
                    "update_date": {
                      "type": "integer",
                      "example": 1499827564
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/device_tokens/{token}.json": {
      "delete": {
        "summary": "デバイストークンの削除",
        "description": "",
        "operationId": "deleteDeviceToken",
        "tags": [
          "etc"
        ],
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/v1/script_tags.json": {
      "get": {
        "summary": "スクリプトタグの取得",
        "description": "",
        "operationId": "getScriptTags",
        "tags": [
          "script"
        ],
        "parameters": [

        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "script_tags": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/ScriptTag"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "スクリプトタグの作成",
        "description": "",
        "operationId": "createScriptTag",
        "tags": [
          "script"
        ],
        "parameters": [
          {
            "name": "script_tag",
            "required": true,
            "in": "body",
            "description": "作成するスクリプトタグの情報",
            "schema": {
              "type": "object",
              "properties": {
                "script_tag": {
                  "type": "object",
                  "properties": {
                    "src": {
                      "type": "string",
                      "required": true,
                      "description": "スクリプトURL",
                      "example": "https://example.com/example.js"
                    },
                    "display_scope": {
                      "type": "string",
                      "description": "スクリプトを出力するページ。\n\n- `shop`: ショップページ\n- `thanks_page`: 注文完了ページ\n- `all`: ショップページと注文完了ページの両方\n",
                      "enum": [
                        "shop",
                        "thanks_page",
                        "all"
                      ],
                      "example": "shop"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "script_tag": {
                  "$ref": "#/definitions/ScriptTag"
                }
              }
            }
          }
        }
      }
    },
    "/v1/script_tags/{scriptTagId}.json": {
      "get": {
        "summary": "スクリプトタグの取得",
        "description": "",
        "operationId": "getScriptTag",
        "tags": [
          "script"
        ],
        "parameters": [
          {
            "name": "scriptTagId",
            "in": "path",
            "type": "integer",
            "example": 1342332
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "script_tag": {
                  "$ref": "#/definitions/ScriptTag"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "スクリプトタグの更新",
        "description": "",
        "operationId": "updateScriptTag",
        "tags": [
          "script"
        ],
        "parameters": [
          {
            "name": "scriptTagId",
            "in": "path",
            "type": "integer",
            "example": 1342332
          },
          {
            "name": "script_tag",
            "required": true,
            "in": "body",
            "description": "作成するスクリプトタグの情報",
            "schema": {
              "type": "object",
              "properties": {
                "script_tag": {
                  "type": "object",
                  "properties": {
                    "src": {
                      "type": "string",
                      "required": true,
                      "description": "スクリプトURL",
                      "example": "https://example.com/example.js"
                    },
                    "display_scope": {
                      "type": "string",
                      "description": "スクリプトを出力するページ。\n\n- `shop`: ショップページ\n- `thanks_page`: 注文完了ページ\n- `all`: ショップページと注文完了ページの両方\n",
                      "enum": [
                        "shop",
                        "thanks_page",
                        "all"
                      ],
                      "example": "shop"
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "script_tag": {
                  "$ref": "#/definitions/ScriptTag"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "スクリプトタグの削除",
        "description": "",
        "operationId": "deleteScriptTag",
        "tags": [
          "script"
        ],
        "parameters": [
          {
            "name": "scriptTagId",
            "in": "path",
            "type": "integer",
            "example": 1342332
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        }
      }
    }
  },
  "definitions": {
    "Shop": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "ショップアカウントID"
        },
        "state": {
          "type": "string",
          "description": "アカウント状態",
          "enum": [
            "enabled",
            "suspended",
            "unsigned"
          ]
        },
        "domain_plan": {
          "type": "string",
          "description": "ドメインプラン",
          "enum": [
            "cmsp_sub_domain",
            "own_domain",
            "own_sub_domain"
          ]
        },
        "contract_plan": {
          "type": "string",
          "description": "契約プラン",
          "enum": [
            "unknown",
            "economy",
            "small",
            "regular",
            "lolipop",
            "heteml",
            "platinum",
            "goope",
            "large"
          ]
        },
        "contract_start_date": {
          "type": "integer",
          "description": "契約開始日時"
        },
        "contract_end_date": {
          "type": "integer",
          "description": "契約終了日時"
        },
        "contract_term": {
          "type": "integer",
          "description": "契約期間",
          "x-nullable": true
        },
        "last_login_date": {
          "type": "integer",
          "description": "最終ログイン日時"
        },
        "setup_date": {
          "type": "integer",
          "description": "申し込み完了日時"
        },
        "make_date": {
          "type": "integer",
          "description": "アカウント作成日時"
        },
        "url": {
          "type": "string",
          "description": "ショップURL"
        },
        "open_state": {
          "type": "string",
          "description": "開店状態",
          "enum": [
            "opened",
            "closed",
            "prepare",
            "paused"
          ]
        },
        "mobile_open_state": {
          "type": "string",
          "description": "モバイルショップ開店状態",
          "enum": [
            "opened",
            "closed",
            "prepare",
            "paused"
          ]
        },
        "login_id": {
          "type": "string",
          "description": "ログインID"
        },
        "name1": {
          "type": "string",
          "description": "登録者氏名（姓）"
        },
        "name2": {
          "type": "string",
          "description": "登録者氏名（名）"
        },
        "name1_kana": {
          "type": "string",
          "description": "登録者氏名カナ（姓）"
        },
        "name2_kana": {
          "type": "string",
          "description": "登録者氏名カナ（名）"
        },
        "hojin": {
          "type": "string",
          "description": "法人名"
        },
        "hojin_kana": {
          "type": "string",
          "description": "法人名カナ"
        },
        "user_mail": {
          "type": "string",
          "format": "email",
          "description": "登録者メールアドレス"
        },
        "tel": {
          "type": "string",
          "description": "登録者電話番号"
        },
        "fax": {
          "type": "string",
          "description": "登録者FAX番号"
        },
        "postal": {
          "type": "string",
          "description": "郵便番号"
        },
        "pref_id": {
          "type": "integer",
          "description": "都道府県ID"
        },
        "pref_name": {
          "type": "string",
          "description": "都道府県名"
        },
        "address1": {
          "type": "string",
          "description": "住所1"
        },
        "address2": {
          "type": "string",
          "description": "住所2"
        },
        "title": {
          "type": "string",
          "description": "ショップ名"
        },
        "title_short": {
          "type": "string",
          "description": "メールタイトル用ショップ名"
        },
        "shop_mail_1": {
          "type": "string",
          "format": "email",
          "description": "管理者メールアドレス"
        },
        "shop_mail_2": {
          "type": "string",
          "format": "email",
          "description": "管理者携帯メールアドレス"
        }
      }
    },
    "Sale": {
      "type": "object",
      "properties": {
        "id": {
          "description": "売上ID",
          "type": "integer",
          "example": 4434233
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string"
        },
        "make_date": {
          "description": "受注日時",
          "type": "integer",
          "example": 1465784934
        },
        "update_date": {
          "description": "受注更新日時",
          "type": "integer",
          "example": 1494496895
        },
        "memo": {
          "description": "備考",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "payment_id": {
          "description": "使用された決済方法ID",
          "type": "integer",
          "example": 751
        },
        "mobile": {
          "description": "モバイルからの注文であるか否か",
          "type": "boolean",
          "example": false
        },
        "paid": {
          "description": "入金済みであるか否か",
          "type": "boolean",
          "example": true
        },
        "delivered": {
          "description": "発送済みである否か",
          "type": "boolean",
          "example": true
        },
        "canceled": {
          "description": "キャンセル済みであるか否か",
          "type": "boolean",
          "example": false
        },
        "accepted_mail_state": {
          "description": "受注メールの送信状態\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
          "type": "string",
          "enum": [
            "not_yet",
            "sent",
            "pass"
          ]
        },
        "paid_mail_state": {
          "description": "入金メールの送信状態\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
          "type": "string",
          "enum": [
            "not_yet",
            "sent",
            "pass"
          ]
        },
        "delivered_mail_state": {
          "description": "発送メールの送信状態\n\n- `not_yet`: 未送信\n- `sent`: 送信済み\n- `pass`: 送信しない\n",
          "type": "string",
          "enum": [
            "not_yet",
            "sent",
            "pass"
          ]
        },
        "accepted_mail_sent_date": {
          "description": "受注メールの送信日時",
          "type": "integer",
          "x-nullable": true,
          "example": 1363152822
        },
        "paid_mail_sent_date": {
          "description": "入金メールの送信日時",
          "type": "integer",
          "x-nullable": true,
          "example": 1363153288
        },
        "delivered_mail_sent_date": {
          "description": "発送メールの送信日時",
          "type": "integer",
          "x-nullable": true,
          "example": 1363154591
        },
        "point_state": {
          "description": "ショップポイント付与状態\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `canceled`: キャンセル済み\n",
          "type": "string",
          "enum": [
            "assumed",
            "fixed",
            "canceled"
          ]
        },
        "gmo_point_state": {
          "description": "GMOポイント付与状態\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `canceled`: キャンセル済み\n",
          "type": "string",
          "x-nullable": true,
          "enum": [
            "assumed",
            "fixed",
            "canceled"
          ]
        },
        "yahoo_point_state": {
          "description": "Yahooポイント付与状態\n\n- `assumed`: 仮付与\n- `fixed`: 確定済み\n- `canceled`: キャンセル済み\n",
          "type": "string",
          "x-nullable": true,
          "enum": [
            "assumed",
            "fixed",
            "canceled"
          ]
        },
        "product_total_price": {
          "description": "商品の合計金額",
          "type": "integer",
          "example": 1000
        },
        "delivery_total_charge": {
          "description": "配送料",
          "type": "integer",
          "example": 350
        },
        "fee": {
          "description": "決済手数料",
          "type": "integer",
          "example": 300
        },
        "tax": {
          "description": "商品合計金額に対する消費税",
          "type": "integer",
          "example": 80
        },
        "noshi_total_charge": {
          "description": "熨斗料金",
          "type": "integer",
          "example": 0
        },
        "card_total_charge": {
          "description": "メッセージカード料金",
          "type": "integer",
          "example": 200
        },
        "wrapping_total_charge": {
          "description": "ラッピング料金",
          "type": "integer",
          "example": 0
        },
        "point_discount": {
          "description": "ショップポイントによる割引額",
          "type": "integer",
          "example": 0
        },
        "gmo_point_discount": {
          "description": "GMOポイントによる割引額",
          "type": "integer",
          "example": 0
        },
        "other_discount": {
          "description": "その他、クーポン等による割引額",
          "type": "integer",
          "example": 0
        },
        "other_discount_name": {
          "description": "その他割引の名称",
          "type": "string",
          "example": ""
        },
        "total_price": {
          "description": "注文総額",
          "type": "integer",
          "example": 1930
        },
        "granted_points": {
          "description": "付与されたショップポイント数",
          "type": "integer",
          "example": 100
        },
        "use_points": {
          "description": "使用されたショップポイント数",
          "type": "integer",
          "example": 0
        },
        "granted_gmo_points": {
          "description": "付与されたGMOポイント数",
          "type": "integer",
          "example": 0
        },
        "use_gmo_points": {
          "description": "使用されたGMOポイント数",
          "type": "integer",
          "example": 0
        },
        "granted_yahoo_points": {
          "description": "付与されたYahooポイント数",
          "type": "integer",
          "example": 0
        },
        "use_yahoo_points": {
          "description": "使用されたYahooポイント数",
          "type": "integer",
          "example": 0
        },
        "customer": {
          "$ref": "#/definitions/Customer"
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SaleDetail"
          }
        },
        "sale_deliveries": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SaleDelivery"
          }
        }
      }
    },
    "SaleDetail": {
      "type": "object",
      "properties": {
        "id": {
          "description": "受注明細ID",
          "type": "integer",
          "example": 44344599
        },
        "sale_id": {
          "description": "売上ID",
          "type": "integer",
          "example": 4434233
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "product_id": {
          "description": "商品ID",
          "type": "integer",
          "example": 1342332
        },
        "sale_delivery_id": {
          "description": "配送ID",
          "type": "integer",
          "example": 1173289
        },
        "option1_value": {
          "description": "オプション1の値",
          "type": "string",
          "x-nullable": true,
          "example": "赤"
        },
        "option2_value": {
          "description": "オプション2の値",
          "type": "string",
          "x-nullable": true,
          "example": "Sサイズ"
        },
        "option1_index": {
          "description": "オプション1の値の選択肢中の位置",
          "type": "integer",
          "x-nullable": true,
          "example": 0
        },
        "option2_index": {
          "description": "オプション2の値の選択肢中の位置",
          "type": "string",
          "x-nullable": true,
          "example": 0
        },
        "product_model_number": {
          "description": "型番",
          "type": "string",
          "example": "T-RED-S-223"
        },
        "product_name": {
          "description": "商品名",
          "type": "string",
          "example": "Tシャツ"
        },
        "product_cost": {
          "description": "商品原価",
          "type": "integer",
          "x-nullable": true,
          "example": 1000
        },
        "product_image_url": {
          "description": "商品画像URL",
          "type": "string",
          "x-nullable": true
        },
        "product_thumbnail_image_url": {
          "description": "サムネイル用商品画像URL",
          "type": "string",
          "x-nullable": true
        },
        "product_mobile_image_url": {
          "description": "モバイル用商品画像URL",
          "type": "string",
          "x-nullable": true
        },
        "price": {
          "description": "商品販売価格",
          "type": "integer",
          "example": 1680
        },
        "price_with_tax": {
          "description": "税込み商品価格",
          "type": "integer",
          "example": 1814
        },
        "product_num": {
          "description": "商品点数",
          "type": "integer",
          "example": 1
        },
        "unit": {
          "description": "単位",
          "type": "string",
          "x-nullable": true,
          "example": "枚"
        },
        "subtotal_price": {
          "description": "商品小計。販売価格と点数の積",
          "type": "integer",
          "example": 1814
        }
      }
    },
    "SaleDelivery": {
      "type": "object",
      "properties": {
        "id": {
          "description": "配送ID",
          "type": "integer",
          "example": 1173289
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "sale_id": {
          "description": "売上ID",
          "type": "integer",
          "example": 4434233
        },
        "delivery_id": {
          "description": "使用された配送方法ID",
          "type": "integer",
          "example": 113922
        },
        "detail_ids": {
          "description": "この配送に含まれる受注明細IDの配列",
          "type": "array",
          "items": {
            "type": "integer"
          },
          "example": [
            44344599
          ]
        },
        "name": {
          "description": "宛名",
          "type": "string",
          "example": "ペパボ太郎"
        },
        "furigana": {
          "description": "宛名のフリガナ",
          "type": "string",
          "example": "ペパボタロウ"
        },
        "postal": {
          "description": "郵便番号",
          "type": "string",
          "example": "1508512"
        },
        "pref_id": {
          "description": "都道府県の通し番号。北海道が1、沖縄が47",
          "type": "integer",
          "example": 13
        },
        "pref_name": {
          "description": "都道府県名",
          "type": "string",
          "example": "東京都"
        },
        "address1": {
          "description": "住所1",
          "type": "string",
          "x-nullable": true,
          "example": "渋谷区桜丘町26-1"
        },
        "address2": {
          "description": "住所2",
          "type": "string",
          "x-nullable": true,
          "example": "セルリアンタワー"
        },
        "tel": {
          "description": "電話番号",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "preferred_date": {
          "description": "配送希望日",
          "type": "string",
          "x-nullable": true,
          "example": "2017-05-21"
        },
        "preferred_period": {
          "description": "配送希望時間帯",
          "type": "string",
          "x-nullable": true,
          "example": "午前中"
        },
        "slip_number": {
          "description": "配送伝票番号",
          "type": "string",
          "x-nullable": true,
          "example": "1234-5678-9012"
        },
        "noshi_text": {
          "description": "熨斗の文言",
          "type": "string",
          "x-nullable": true,
          "example": "寿"
        },
        "noshi_charge": {
          "description": "熨斗の料金",
          "type": "integer",
          "x-nullable": true,
          "example": 100
        },
        "card_name": {
          "description": "メッセージカードの表示名",
          "type": "string",
          "x-nullable": true,
          "example": "バースデーカード"
        },
        "card_text": {
          "description": "メッセージカードのテキスト",
          "type": "string",
          "x-nullable": true,
          "example": "おめでとう"
        },
        "card_charge": {
          "description": "メッセージカードの料金",
          "type": "integer",
          "x-nullable": true,
          "example": 150
        },
        "wrapping_name": {
          "description": "ラッピングの表示名",
          "type": "string",
          "x-nullable": true,
          "example": "ギフト用ラッピング（ピンク）"
        },
        "wrapping_charge": {
          "description": "ラッピングの料金",
          "type": "integer",
          "x-nullable": true,
          "example": 200
        },
        "delivery_charge": {
          "description": "配送料",
          "type": "integer",
          "example": 350
        },
        "total_charge": {
          "description": "配送料・手数料の小計",
          "type": "integer",
          "example": 800
        },
        "memo": {
          "description": "備考",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "delivered": {
          "description": "発送済みであるか否か",
          "type": "boolean",
          "example": false
        }
      }
    },
    "Customer": {
      "type": "object",
      "properties": {
        "id": {
          "description": "顧客ID",
          "type": "integer",
          "example": 998273
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "name": {
          "description": "顧客の名前",
          "type": "string",
          "x-nullable": true,
          "example": "カラーミー太郎"
        },
        "furigana": {
          "description": "名前のフリガナ",
          "type": "string",
          "x-nullable": true,
          "example": "カラーミータロウ"
        },
        "hojin": {
          "description": "法人名",
          "type": "string",
          "x-nullable": true,
          "example": "GMOペパボ株式会社"
        },
        "busho": {
          "description": "部署名",
          "type": "string",
          "x-nullable": true,
          "example": "EC事業部"
        },
        "sex": {
          "description": "性別",
          "type": "string",
          "x-nullable": true,
          "enum": [
            "male",
            "female"
          ],
          "example": "male"
        },
        "postal": {
          "description": "郵便番号",
          "type": "string",
          "x-nullable": true,
          "example": 1578512
        },
        "pref_id": {
          "description": "都道府県の通し番号。北海道が1、沖縄が47",
          "type": "integer",
          "x-nullable": true,
          "example": 13
        },
        "pref_name": {
          "description": "都道府県名",
          "type": "string",
          "x-nullable": true,
          "example": "東京都"
        },
        "address1": {
          "description": "住所1",
          "type": "string",
          "x-nullable": true,
          "example": "渋谷区桜丘町26-1"
        },
        "address2": {
          "description": "住所2",
          "type": "string",
          "x-nullable": true,
          "example": "セルリアンタワー"
        },
        "mail": {
          "description": "メールアドレス",
          "type": "string",
          "x-nullable": true,
          "example": "example@pepabo.com"
        },
        "tel": {
          "description": "電話番号",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "fax": {
          "description": "FAX番号",
          "type": "string",
          "x-nullable": true,
          "exmaple": null
        },
        "tel_mobile": {
          "description": "携帯電話番号",
          "type": "string",
          "x-nullable": true,
          "example": "080-1234-1234"
        },
        "memo": {
          "description": "備考",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "points": {
          "description": "保有ポイント数",
          "type": "integer",
          "example": 216
        },
        "member": {
          "description": "会員登録済みであるか否か",
          "type": "boolean",
          "example": true
        },
        "sales_count": {
          "description": "これまでの購入回数",
          "type": "integer",
          "example": 3
        }
      }
    },
    "Stock": {
      "type": "object",
      "properties": {
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "product_id": {
          "description": "商品ID",
          "type": "integer",
          "example": 1342332
        },
        "name": {
          "description": "商品名",
          "type": "string",
          "example": "Tシャツ"
        },
        "option1_value": {
          "description": "オプション1の値",
          "type": "string",
          "x-nullable": true,
          "example": "白"
        },
        "option2_value": {
          "description": "オプション2の値",
          "type": "string",
          "x-nullable": true,
          "example": "Sサイズ"
        },
        "stocks": {
          "description": "在庫数",
          "type": "integer",
          "x-nullable": true,
          "example": 20
        },
        "few_num": {
          "description": "残りわずかとなる在庫数",
          "type": "integer",
          "x-nullable": true,
          "example": 5
        },
        "model_number": {
          "description": "型番",
          "type": "string",
          "x-nullable": true,
          "example": "T-WHITE-S-223"
        },
        "category": {
          "type": "object",
          "x-nullable": true,
          "properties": {
            "id_big": {
              "description": "大カテゴリーID",
              "type": "integer",
              "example": 13223
            },
            "id_small": {
              "description": "小カテゴリーID",
              "type": "integer",
              "example": 18447
            }
          }
        },
        "display_state": {
          "description": "掲載設定",
          "type": "string",
          "enum": [
            "showing",
            "hidden",
            "showing_for_members",
            "sale_for_members"
          ],
          "example": "showing"
        },
        "sales_price": {
          "description": "販売価格",
          "type": "integer",
          "x-nullable": true,
          "example": 1980
        },
        "price": {
          "description": "定価",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "members_price": {
          "description": "会員価格",
          "type": "integer",
          "x-nullable": true,
          "example": 1680
        },
        "cost": {
          "description": "原価",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "delivery_charge": {
          "description": "個別送料",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "min_num": {
          "description": "最小購入数量",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "max_num": {
          "description": "最大購入数量",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "sale_start_date": {
          "description": "掲載開始時刻",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "sale_end_date": {
          "description": "掲載終了時刻",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "unit": {
          "description": "単位",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "weight": {
          "description": "重量(グラム単位)",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "soldout_display": {
          "description": "売り切れているときもショップに表示するか",
          "type": "boolean",
          "example": true
        },
        "sort": {
          "description": "表示順",
          "type": "integer",
          "x-nullable": true,
          "example": 2
        },
        "simple_expl": {
          "description": "簡易説明",
          "type": "string",
          "x-nullable": true,
          "example": "素材にこだわってつくった、弊社の人気商品です。"
        },
        "expl": {
          "description": "商品説明",
          "type": "string",
          "x-nullable": true,
          "example": "綿100%のこだわりTシャツです。\n\n肌触りや吸水性の良さにみなさま驚かれます。弊社の人気商品です。\n"
        },
        "mobile_expl": {
          "description": "フィーチャーフォン向けショップの商品説明",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "smartphone_expl": {
          "description": "スマホ向けショップの商品説明",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "make_date": {
          "description": "商品作成日時",
          "type": "integer",
          "example": 1465784934
        },
        "update_date": {
          "description": "商品更新日時",
          "type": "integer",
          "example": 1494496895
        },
        "memo": {
          "description": "備考",
          "type": "string",
          "example": ""
        },
        "image_url": {
          "description": "メインの商品画像URL",
          "type": "string",
          "x-nullable": true
        },
        "mobile_image_url": {
          "description": "メインの商品画像のモバイル用URL",
          "type": "string",
          "x-nullable": true
        },
        "thumbnail_image_url": {
          "description": "メインの商品画像のサムネイルURL",
          "type": "string",
          "x-nullable": true
        },
        "images": {
          "description": "メインの商品画像以外の3つの画像に関する、PC用とモバイル用の画像URL",
          "type": "array",
          "maxItems": 6,
          "items": {
            "type": "object",
            "properties": {
              "src": {
                "description": "画像URL",
                "type": "string"
              },
              "position": {
                "description": "表示順",
                "type": "integer",
                "minimum": 1,
                "maximum": 3
              },
              "mobile": {
                "description": "モバイル用であるか否か",
                "type": "boolean"
              }
            }
          }
        }
      }
    },
    "Product": {
      "type": "object",
      "properties": {
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "id": {
          "description": "商品ID",
          "type": "integer",
          "example": 1342332
        },
        "name": {
          "description": "商品名",
          "type": "string",
          "example": "Tシャツ"
        },
        "stocks": {
          "description": "在庫数",
          "type": "integer",
          "x-nullable": false,
          "example": 20
        },
        "stock_managed": {
          "description": "在庫管理するか否か",
          "type": "boolean",
          "example": false
        },
        "few_num": {
          "description": "残りわずかとなる在庫数",
          "type": "integer",
          "x-nullable": true,
          "example": 5
        },
        "model_number": {
          "description": "型番",
          "type": "string",
          "x-nullable": true,
          "example": "T-223"
        },
        "category": {
          "type": "object",
          "x-nullable": true,
          "properties": {
            "id_big": {
              "description": "大カテゴリーID",
              "type": "integer",
              "example": 13223
            },
            "id_small": {
              "description": "小カテゴリーID",
              "type": "integer",
              "example": 18447
            }
          }
        },
        "group_ids": {
          "description": "商品が属するグループのIDの配列",
          "type": "array",
          "minItems": 0,
          "items": {
            "description": "グループID",
            "type": "integer"
          },
          "example": [
            5456,
            62098
          ]
        },
        "display_state": {
          "description": "掲載設定",
          "type": "string",
          "enum": [
            "showing",
            "hidden",
            "showing_for_members",
            "sale_for_members"
          ],
          "example": "showing"
        },
        "sales_price": {
          "description": "販売価格",
          "type": "integer",
          "x-nullable": true,
          "example": 1980
        },
        "price": {
          "description": "定価",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "members_price": {
          "description": "会員価格",
          "type": "integer",
          "x-nullable": true,
          "example": 1680
        },
        "cost": {
          "description": "原価",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "delivery_charge": {
          "description": "個別送料",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "min_num": {
          "description": "最小購入数量",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "max_num": {
          "description": "最大購入数量",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "sale_start_date": {
          "description": "掲載開始時刻",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "sale_end_date": {
          "description": "掲載終了時刻",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "unit": {
          "description": "単位",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "weight": {
          "description": "重量(グラム単位)",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "soldout_display": {
          "description": "売り切れているときもショップに表示するか",
          "type": "boolean",
          "example": true
        },
        "sort": {
          "description": "表示順",
          "type": "integer",
          "x-nullable": true,
          "example": 2
        },
        "simple_expl": {
          "description": "簡易説明",
          "type": "string",
          "x-nullable": true,
          "example": "素材にこだわってつくった、弊社の人気商品です。"
        },
        "expl": {
          "description": "商品説明",
          "type": "string",
          "x-nullable": true,
          "example": "綿100%のこだわりTシャツです。\n\n肌触りや吸水性の良さにみなさま驚かれます。弊社の人気商品です。\n"
        },
        "mobile_expl": {
          "description": "フィーチャーフォン向けショップの商品説明",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "smartphone_expl": {
          "description": "スマホ向けショップの商品説明",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "make_date": {
          "description": "商品作成日時",
          "type": "integer",
          "example": 1465784934
        },
        "update_date": {
          "description": "商品更新日時",
          "type": "integer",
          "example": 1494496895
        },
        "memo": {
          "description": "備考",
          "type": "string",
          "example": ""
        },
        "image_url": {
          "description": "メインの商品画像URL",
          "type": "string",
          "x-nullable": true
        },
        "mobile_image_url": {
          "description": "メインの商品画像のモバイル用URL",
          "type": "string",
          "x-nullable": true
        },
        "thumbnail_image_url": {
          "description": "メインの商品画像のサムネイルURL",
          "type": "string",
          "x-nullable": true
        },
        "images": {
          "description": "メインの商品画像以外の3つの画像に関する、PC用とモバイル用の画像URL",
          "type": "array",
          "maxItems": 6,
          "items": {
            "type": "object",
            "properties": {
              "src": {
                "description": "画像URL",
                "type": "string"
              },
              "position": {
                "description": "表示順",
                "type": "integer",
                "minimum": 1,
                "maximum": 3
              },
              "mobile": {
                "description": "モバイル用であるか否か",
                "type": "boolean"
              }
            }
          }
        },
        "options": {
          "description": "選択できるオプションの一覧",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductOption"
          }
        },
        "variants": {
          "description": "オプションのバリエーション一覧",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductVariant"
          }
        },
        "pickups": {
          "description": "おすすめ商品情報",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "pickup_type": {
                "description": "おすすめ商品情報種別",
                "type": "integer",
                "x-nullable": false,
                "example": 0
              },
              "order_num": {
                "description": "商品の表示順",
                "type": "integer",
                "x-nullable": true,
                "example": 0
              },
              "make_date": {
                "description": "作成日時",
                "type": "integer",
                "example": 1465784944
              },
              "update_date": {
                "description": "更新日時",
                "type": "integer",
                "example": 1494496809
              }
            }
          }
        }
      }
    },
    "ProductOption": {
      "type": "object",
      "properties": {
        "id": {
          "description": "オプションID",
          "type": "integer",
          "example": 539903
        },
        "product_id": {
          "description": "商品ID",
          "type": "integer",
          "example": 1342332
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "name": {
          "description": "オプション名",
          "type": "string",
          "example": "色"
        },
        "values": {
          "description": "オプション値の配列",
          "type": "array",
          "items": {
            "type": "string"
          },
          "example": [
            "赤",
            "白"
          ]
        },
        "make_date": {
          "description": "オプション作成日時",
          "type": "integer",
          "example": 1465784944
        },
        "update_date": {
          "description": "オプション更新日時",
          "type": "integer",
          "example": 1494496809
        }
      }
    },
    "ProductVariant": {
      "type": "object",
      "properties": {
        "product_id": {
          "description": "商品ID",
          "type": "integer",
          "example": 1342332
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "option1_value": {
          "description": "オプション1の値",
          "type": "string",
          "x-nullable": true,
          "example": "赤"
        },
        "option2_value": {
          "description": "オプション2の値",
          "type": "string",
          "x-nullable": true,
          "example": "S"
        },
        "title": {
          "description": "オプション1とオプション2の名前を\"　x　\"で結合した表示名。オプションが1つしか設定されていない場合はそのオプションの名前に等しい",
          "type": "string",
          "example": "赤　x　S"
        },
        "stocks": {
          "description": "在庫数",
          "type": "integer",
          "x-nullable": true,
          "example": 20
        },
        "few_num": {
          "description": "残りわずかとなる在庫数",
          "type": "integer",
          "x-nullable": true,
          "example": 5
        },
        "model_number": {
          "description": "型番",
          "type": "string",
          "x-nullable": true,
          "example": "T-RED-S-223"
        },
        "option_price": {
          "description": "販売価格",
          "type": "integer",
          "x-nullable": true,
          "example": 1980
        },
        "option_members_price": {
          "description": "会員価格",
          "type": "integer",
          "x-nullable": true,
          "example": null
        },
        "make_date": {
          "description": "オプション作成日時",
          "type": "integer",
          "example": 1465784944
        },
        "update_date": {
          "description": "オプション更新日時",
          "type": "integer",
          "example": 1494496809
        }
      }
    },
    "ProductGroup": {
      "type": "object",
      "properties": {
        "id": {
          "description": "商品グループID",
          "type": "integer",
          "example": 9923
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "name": {
          "description": "商品グループ名",
          "type": "string",
          "example": "夏物"
        },
        "image_url": {
          "description": "商品グループ画像URL",
          "type": "string",
          "x-nullable": true
        },
        "expl": {
          "description": "商品グループ説明",
          "type": "string",
          "x-nullable": true,
          "example": "暑い夏を涼しく乗り切る、当店イチオシの夏物衣類"
        },
        "sort": {
          "description": "表示順",
          "type": "integer",
          "x-nullable": true,
          "example": 2
        },
        "display_state": {
          "description": "掲載設定",
          "type": "string",
          "enum": [
            "showing",
            "hidden",
            "showing_for_members",
            "sale_for_members"
          ],
          "example": "showing"
        }
      }
    },
    "ProductCategory": {
      "type": "object",
      "properties": {
        "id_big": {
          "description": "大カテゴリーID",
          "type": "integer",
          "example": 9923
        },
        "id_small": {
          "description": "小カテゴリーID。大カテゴリーのことを表している場合は0",
          "type": "integer",
          "example": 0
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "name": {
          "description": "商品カテゴリー名",
          "type": "string",
          "example": "Tシャツ"
        },
        "image_url": {
          "description": "商品カテゴリー画像URL",
          "type": "string",
          "x-nullable": true
        },
        "expl": {
          "description": "商品カテゴリー説明",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "sort": {
          "description": "表示順",
          "type": "integer",
          "x-nullable": true,
          "example": 2
        },
        "display_state": {
          "description": "掲載設定",
          "type": "string",
          "enum": [
            "showing",
            "hidden",
            "showing_for_members",
            "sale_for_members"
          ],
          "example": "showing"
        },
        "make_date": {
          "description": "商品カテゴリー作成日時",
          "type": "integer",
          "example": 1465784944
        },
        "update_date": {
          "description": "商品カテゴリー更新日時",
          "type": "integer",
          "example": 1494496809
        },
        "children": {
          "description": "子カテゴリー情報。子カテゴリーのことを表している場合はこのキーはレスポンスに含まれない",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ProductCategory"
          },
          "optional": true,
          "example": [

          ]
        }
      }
    },
    "ProductUpdateRequest": {
      "type": "object",
      "properties": {
        "product": {
          "type": "object",
          "properties": {
            "name": {
              "description": "商品名",
              "type": "string",
              "maxLength": 50
            },
            "price": {
              "description": "定価",
              "type": "integer",
              "example": 1600
            },
            "category_id_big": {
              "description": "大カテゴリーID",
              "type": "integer",
              "example": 1139
            },
            "category_id_small": {
              "description": "小カテゴリーID",
              "type": "integer",
              "example": 993
            },
            "cost": {
              "description": "原価",
              "type": "integer",
              "minimum": 0
            },
            "sales_price": {
              "description": "販売価格",
              "type": "integer",
              "minimum": 0,
              "example": 1600
            },
            "members_price": {
              "description": "会員価格",
              "type": "integer",
              "minimum": 0,
              "example": 1500
            },
            "model_number": {
              "description": "型番",
              "type": "string",
              "maxLength": 50,
              "example": "T-223"
            },
            "expl": {
              "description": "商品説明",
              "type": "string",
              "example": "綿100%のこだわりTシャツです。\n\n肌触りや吸水性の良さにみなさま驚かれます。弊社の人気商品です。\n"
            },
            "simple_expl": {
              "description": "簡易説明",
              "type": "string",
              "maxLength": 255,
              "example": "素材にこだわってつくられた、弊社の人気商品です。"
            },
            "smartphone_expl": {
              "description": "スマホ向けショップの商品説明",
              "type": "string",
              "example": "素材にこだわってつくられた、弊社の人気商品です。"
            },
            "display_state": {
              "description": "掲載設定",
              "type": "string",
              "enum": [
                "showing",
                "hidden",
                "showing_for_members",
                "sale_for_members"
              ]
            },
            "stock_managed": {
              "description": "在庫管理するか否か",
              "type": "boolean"
            },
            "stocks": {
              "description": "数値を指定した場合は、在庫数をその数値で更新します。\n\n以下のように`increment`を利用すると、その数値だけ在庫数を増減させることが可能です。\n```json\n\"stocks\": {\n  \"increment\": 3\n}\n```\n",
              "oneOf": [
                {
                  "type": "object",
                  "properties": {
                    "increment": {
                      "description": "在庫数の増減値",
                      "type": "integer"
                    }
                  }
                },
                {
                  "description": "在庫数",
                  "type": "integer",
                  "minimum": 0
                }
              ],
              "example": {
                "increment": 3
              }
            },
            "group_ids": {
              "description": "グループIDの配列",
              "type": "array",
              "items": {
                "description": null,
                "type": "integer",
                "minimum": 0
              },
              "example": [
                112342,
                4825592
              ]
            },
            "variants": {
              "description": "商品オプションによるバリエーションごとに更新",
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "option1_value": {
                    "description": "オプション1の値",
                    "type": "string",
                    "example": "赤"
                  },
                  "option2_value": {
                    "description": "オプション2の値",
                    "type": "string",
                    "example": "S"
                  },
                  "stocks": {
                    "description": "上記`stocks`と同様に、数値、または増減値を用いて在庫数を更新できます。",
                    "oneOf": [
                      {
                        "type": "object",
                        "properties": {
                          "increment": {
                            "description": "在庫数の増減値",
                            "type": "integer"
                          }
                        }
                      },
                      {
                        "description": "在庫数",
                        "type": "integer",
                        "minimum": 0
                      }
                    ],
                    "example": 20
                  }
                }
              }
            }
          }
        }
      }
    },
    "ProductPickup": {
      "type": "object",
      "properties": {
        "pickup_type": {
          "description": "おすすめ商品情報種別",
          "type": "integer",
          "example": 0
        },
        "product_id": {
          "description": "商品ID",
          "type": "integer",
          "example": 1342332
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA00000000"
        },
        "order_num": {
          "description": "商品の表示順",
          "type": "integer",
          "x-nullable": true,
          "example": 1
        },
        "make_date": {
          "description": "作成日時",
          "type": "integer",
          "example": 1465784944
        },
        "update_date": {
          "description": "更新日時",
          "type": "integer",
          "example": 1494496809
        }
      }
    },
    "Payment": {
      "type": "object",
      "properties": {
        "id": {
          "description": "決済方法ID",
          "type": "integer",
          "example": 751
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "name": {
          "description": "決済名",
          "type": "string",
          "example": "銀行振り込み"
        },
        "fee": {
          "description": "決済手数料",
          "type": "integer",
          "x-nullable": true,
          "example": 300
        },
        "ip_code": {
          "description": "GMOイプシロン等との契約コード",
          "type": "string",
          "x-nullable": true,
          "example": 12345678
        },
        "memo": {
          "description": "説明",
          "type": "string",
          "x-nullable": true,
          "example": "購入後、振込口座情報をメールにて差し上げます。"
        },
        "memo_mobile": {
          "description": "フィーチャーフォン向けショップ用の説明",
          "type": "string",
          "x-nullable": true,
          "example": "購入後、振込口座情報をメールにて差し上げます。"
        },
        "sort": {
          "description": "表示順",
          "type": "integer",
          "x-nullable": true,
          "example": 1
        },
        "image_url": {
          "description": "決済画像URL",
          "type": "string",
          "x-nullable": true
        },
        "type": {
          "description": "決済タイプを表す数値。\n\n|type|決済|\n|---|---|\n|0|代引き|\n|1|銀行振込|\n|2|郵便振替|\n|3|クレジット（ZEUS）|\n|4|クロネコ@ペイメント|\n|5|NP後払い|\n|6|クレジット（イプシロン）|\n|7|コンビニ決済（イプシロン）|\n|8|カラーミークレジット|\n|9|その他決済|\n|10|ウェブマネー|\n|11|イーバンクデビット|\n|12|ネット銀行（イプシロン）|\n|13|電子マネー（イプシロン）|\n|14|ATM・コンビニ・ネット銀行決済（ペイジェント）|\n|15|Do-Link決済（イプシロン）|\n|16|ペイジー（イプシロン）|\n|17|後払い.com|\n|18|ジャパンネット銀行（送料無料キャンペーン）|\n|19|クロネコwebコレクト|\n|20|PayPal（イプシロン）|\n|21|Yahoo!ウォレット（イプシロン）|\n|22|全額ポイント利用|\n|23|スマートフォンキャリア決済（イプシロン）|\n|24|GMO PG マルチペイメントクレジットカード|\n|25|住信SBIネット銀行（イプシロン）|\n|26|GMO後払い（イプシロン）|\n|27|GMO後払い（GMOペイメントサービス）|\n|28| - |\n|29|ATM（ペイジー）（ペイジェント）|\n|30|カード（ペイジェント）|\n|31|コンビニ番号方式（ペイジェント）|\n|32|インターネットバンキング（ペイジェント）|\n|33|PayPal（ペイパル）|\n|34|SMBC GMO PAYMENTクレジットカード|\n|35|Amazon Pay|\n|36|楽天ペイ（オンライン決済）|\n",
          "type": "integer",
          "minimum": 0,
          "example": 33
        },
        "display": {
          "description": "表示設定。`true`なら表示される",
          "type": "boolean",
          "example": true
        },
        "use_mobile": {
          "description": "フィーチャーフォン向けショップでの表示設定",
          "type": "boolean",
          "example": true
        },
        "make_date": {
          "description": "決済作成日時",
          "type": "integer",
          "example": 1495007163
        },
        "update_date": {
          "description": "決済更新日時",
          "type": "integer",
          "example": 1495007163
        },
        "cod": {
          "description": "代引き決済の設定情報。代引き決済の場合のみ存在する",
          "type": "object",
          "properties": {
            "changeable": {
              "description": "手数料が決済金額によって変わるか否か",
              "type": "boolean",
              "example": true
            },
            "fees": {
              "description": "手数料が変わる決済金額の区分\n\n`[3000, 100]`であれば、3000円以下の場合、手数料は100円であることを表す\n",
              "type": "array",
              "items": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "minItems": 2,
                "maxItems": 2
              },
              "example": [
                [
                  3000,
                  100
                ],
                [
                  5000,
                  200
                ]
              ]
            },
            "fee_max": {
              "description": "`fees`に設定されている区分以上の金額の場合の手数料",
              "type": "integer",
              "example": 500
            },
            "changeable_by_total": {
              "description": "手数料計算に用いる決済総額を用いるか否か\n\n- `true`: 決済総額で計算\n- `false`: 商品合計額で計算\n",
              "type": "boolean",
              "example": true
            }
          }
        },
        "card": {
          "description": "クレジットカードの設定情報。クレジットカード決済の場合のみ存在する",
          "type": "object",
          "properties": {
            "brands": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "description": "ブランドID",
                    "type": "integer",
                    "example": 2
                  },
                  "name": {
                    "description": "ブランド名",
                    "type": "string",
                    "example": "VISA"
                  }
                }
              }
            }
          }
        },
        "financial": {
          "description": "銀行振り込みの設定情報。銀行振り込み決済の場合のみ存在する",
          "type": "object",
          "properties": {
            "name": {
              "description": "金融機関名",
              "type": "string",
              "example": "サンプル銀行"
            },
            "branch_name": {
              "description": "支店名",
              "type": "string",
              "example": "サンプル支店"
            },
            "kouza_type": {
              "description": "講座種別\n\n- `saving`: 普通\n- `checking`: 当座\n",
              "type": "string",
              "enum": [
                "saving",
                "checking"
              ],
              "example": "saving"
            },
            "kouza_number": {
              "description": "口座番号",
              "type": "string",
              "example": "1234567890"
            },
            "kouza_name": {
              "description": "口座名義",
              "type": "string",
              "example": "サンプル太郎"
            }
          }
        }
      },
      "not": {
        "required": [
          "cod",
          "card",
          "financial"
        ]
      }
    },
    "Delivery": {
      "type": "object",
      "properties": {
        "id": {
          "description": "配送方法ID",
          "type": "integer",
          "example": 113922
        },
        "account_id": {
          "description": "ショップアカウントID",
          "type": "string",
          "example": "PA01234567"
        },
        "name": {
          "description": "配送方法名",
          "type": "string",
          "example": "メール便"
        },
        "image_url": {
          "description": "配送方法画像URL",
          "type": "string",
          "x-nullable": true,
          "example": null
        },
        "charge_free_type": {
          "description": "配送料が無料になる基準\n\n- `not_free`: 有料\n- `free`: 無料\n- `free_to_limit`: 注文金額が一定以上の場合は無料\n",
          "type": "string",
          "enum": [
            "not_free",
            "free",
            "free_to_limit"
          ]
        },
        "charge_free_limit": {
          "description": "配送料が無料になる金額。`charge_free_type`が`free_to_limit`の場合のみ意味を持つ",
          "type": "integer",
          "x-nullable": true
[...]
